.shop-category{
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20231030/pngtree-abstract-artwork-lilac-pastel-watercolor-texture-background-in-purple-hues-image_13786200.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 30px;
}
.shopcategory-sort{
    width: 100px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.shopcategory-indexSort p span{
   font-weight: 600; 
} 
.shopcategory-products{
    margin-left:200px;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

